<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="GnreConfigUF">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="GnreConfigUF1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.testegnre.pe.gov.br/gnreWS/services/GnreConfigUF"
                binding="customBinding" bindingConfiguration="GnreConfigUF"
                contract="ServiceReference1.GnreConfigUFSoap" name="GnreConfigUF" />
            <endpoint address="http://www.gnre.pe.gov.br/gnreWS/services/GnreConfigUF"
                binding="customBinding" bindingConfiguration="GnreConfigUF1"
                contract="ServiceReference2.GnreConfigUFSoap" name="GnreConfigUF1" />
        </client>
    </system.serviceModel>
</configuration>